body {
    background-color: #191818; 
    font-family: 'Times New Roman', Times, serif;
}

.header {
    background-image: url(Gallery/Strap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
}

.head h1 {
    text-align: center;
    color: #fff;
    font-size: 5em;
    margin-top: 50px;
    margin-bottom: 50px;
}

.nav-tabs {
    text-align: center;
    font-size: 1.5em;
}

.nav-tabs a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.nav-tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: 1;
}

.nav-tabs li {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.nav-tabs a {
    text-decoration: none;
    color: #fff;
    padding: 20px 30px;
    border-radius: 5px;
    transition: all 0.3s ease; 
}

.body_text {
    color: #fff;
}

.body_text p {
    text-align: center;
    font-size: 1.5em;
    margin-top: 400px;
    letter-spacing: 6px;
}

.body_text h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 8em;
}

.body_text h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 300px;
    letter-spacing: 27px;
}

.body_pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
}

.image_bar, .image_menu {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.image_bar h1, .image_menu h1 {
    color: #fff;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 2em; 
}

#productImage, #menuImage {
    width: 60%;
    height: auto;
    border: 4px solid #000000;
    border-radius: 8px;
    transition: transform 0.3s ease, top 0.3s ease, left 0.3s ease, border 0.3s ease;
}

.enlarged {
    transform: scale(1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1000;
    border: 6px solid #000;
}

footer {
    background-image: url(Gallery/Strap.jpg);
    color: #000000;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.logos img {
    display: inline-block;
    align-items: center;
    margin: 0 10px;
    max-width: 100px;
}

.body_picture_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.image-item {
    width: 200px;
    height: 150px;
    overflow: hidden;
    position: relative;
    border: 4px solid #000000;
    border-radius: 8px;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, top 0.3s ease, left 0.3s ease, border 0.3s ease;
    border-radius: 8px;
}

.imageText{
    text-align: center;
    margin-bottom: 20px;
    font-size: 8em;
    color: #fff;
}

@media only screen and (max-width: 767px) {
    .header {
        padding: 60px 0;
    }

    .head h1 {
        font-size: 3em;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .nav-tabs a {
        padding: 10px 15px;
        font-size: 1em;
    }

    .body_text p {
        font-size: 1.2em;
        margin-top: 200px;
    }

    .body_text h1 {
        font-size: 4em;
    }

    .body_text h2 {
        font-size: 1.5em;
        margin-bottom: 150px;
    }

    .imageText {
        text-align: center;
        margin-bottom: 20px;
        font-size: 8em;
        color: #fff;
    }

    .body_pictures {
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #productImage, #menuImage {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    .body_picture_bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .image-item {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    .image-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }
}
