body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #191818;
    color: #ffffff;
}

header {
    text-align: center;
    background-color: #191818;
    color: white;
    padding: 1em 0;
}

#resto-photo {
    justify-content: center;
    width: 100%;
    padding-top: 120px;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    background-color: #000000;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    border: 2px solid #f0ad4e;
}

.card-body {
    color: rgba(0, 0, 0, 0.336);
}

.container .form-group {
    color: #000000;
}

.container label, h5 {
    display: block;
    font-weight: bold;
    color: #ffffff;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="tel"],
.container input[type="date"],
.container input[type="time"],
.container textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}

.container button {
    background-color: #f0ad4e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.container button:hover {
    background-color: #ff9500;
}

.hidden {
    display: none;
}

#reminderMessage {
    margin: 5px;
    text-align: center;
}